{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">This is learning ecomerce</p>
                </div>
            </div>
 </header>

 <div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus leo dolor, 
                at mattis sem maximus eu. Praesent volutpat tortor sed libero posuere, id dapibus mi pellentesque. 
                In scelerisque mauris sed augue imperdiet vulputate. Phasellus eu porttitor enim. Nullam at urna eu nulla aliquet feugiat a non mi. Morbi elit diam, gravida eu aliquam et, scelerisque viverra nulla. Sed nisi ligula, euismod vel tristique non, posuere quis ante. Vivamus gravida, enim ut elementum scelerisque, velit diam convallis nibh, non pretium elit lorem vel nulla. Integer eget orci massa. Donec fermentum enim eros, et finibus arcu mollis iaculis. Morbi a dapibus ipsum. Donec malesuada enim sed elit rutrum, eu commodo massa rutrum. Maecenas pellentesque pretium nisi sit amet dapibus. Quisque aliquam volutpat mattis. Fusce sit amet enim aliquam,
                rutrum nisi sit amet, sollicitudin tortor. Integer eu purus arcu.
                Nam sagitis dui ut pretium fermentum. Sed in dolor dapibus, fermentum libero nec, scelerisque arcu. Nam mattis ex nec tempus convallis. Maecenas condimentum arcu arcu. Aenean dictum tempus eros eu blandit. Suspendisse mauris ligula, porttitor non nisl eget, vulputate fermentum felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In pulvinar varius mi et commodo.
                In suscipit rutrum nulla, eget dignissim magna malesuada eget. Vivamus et orci accumsan, hendrerit mauris sed, sodales ipsum. Maecenas sit amet varius mauris. Nunc viverra 
                augue ac lorem mollis condimentum. Fusce vestibulum id velit quis imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh libero, dapibus sit amet risus a, lacinia faucibus lorem. Integer id 
                arcu ut quam pulvinar interdum. Maecenas pellentesque commodo egestas. Mauris vehicula semper tincidunt. Sed vestibulum suscipit lacus vestibulum pharetra. Donec egestas sodales nunc nec 
                rutrum. Ut orci nisl, convallis ac ex quis, sollicitudin ullamcorper eros. Donec sagittis cursus eros, nec mollis ipsum ullamcorper vel.
                <br/><br/><br/><br/>
            </div>
        </center>
    </div>
 </div>

{% endblock %}